body{
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-1{
    border: 1px solid rgb(216, 19, 19);
    width: 75%;
    margin: 0 auto;
    top: 30vh;
    position: relative;
}

.flexbox-container-1{
    display: flex;
    /* border: 1px solid black; */
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-1 h2{
    text-align: center;
}

.flexbox-container-1 div{
    padding: 7px;
    display: flex;
    align-items: center;
}
/* 
@media (max-width:700px) {
    
    .flexbox-container-1{
        display: grid;
        /* border: 1px solid black; *
        padding: 10px;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
} */